/* ------------------------------ FUENTES ----------------------------- */
@font-face {
  font-family: "asap";
  src: url("../fonts/Asap.ttf");
}
@font-face {
  font-family: "indie";
  src: url("../fonts/IndieFlower.ttf");
}

/* ------------------------------ ESTILOS ----------------------------- */

*{
	margin:0;
	padding:0;
}
body{
	overflow-x: hidden;
	width:100vw;
	position:relative;
	font-family: asap;
	font-size: 16px;
}

h1{
	font-family: "indie";
	font-size:4em;
	margin: .2em 0;
	text-align: center;
}

/* IMÁGENES DE FONDO */

.blob{
	position: absolute;
	width:max-content;
	z-index:-1;
}
#blob1{
	top:-30vh;
	left:-40vw;
	height:100vh;
	transform: rotate(90deg) scale(2);
	opacity: .75;
}
#blob2{
	top:-20vh;
	right:-35vw;
	height:200vh;
	opacity: .75;
}
#blob3{
	top:80vh;
	right:0;
	width:150vw;
	height: 150vh;
	opacity: .75;
}
#blob4{
	bottom:0;
	right:-40vw;
	height:max-content;
	opacity: .75;
	transform: scale(1.2);
}

/* BARRA DE NAVEGACIÓN */

nav{
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top:0;
	right: 0;
	width:100%;
	z-index: 3;
}
#menuToggle{
	display: none;
}
nav ul{
	display: flex;
	flex-direction: row;
	padding-left: 0.5em;
	border-radius: 0 0 0 1.5em;
}
nav li{
	list-style: none;
}
nav a{
	text-decoration: none;
	color:#7d7d7d;
	padding:1em;
	display: flex;
	align-items: center;
	font-size: 1.2em;
	font-weight: bold;
}
nav a:hover{
	color:black;
}

/* HEADER */

header{
	height:100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: verdana;
	text-transform: uppercase;
	letter-spacing: .8em;
	color:#151515;
}

#logo{
	height: 12.5em;
}

#arrow_down{
	position:absolute;
	top: 90vh;
	height: 3em;
	cursor: pointer;
}


/* PRIMERA SECTION -> INFORMACIÓN */

#info{
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size:1.2em;
	padding: 0 20vw;
	text-align: center;
}
#info p, br{
	margin: .75em 0;
}
#info img{
	width: 100%;
	margin-top: 10%;
}

/* FLECHA PARA SUBIR AL PRINCIPIO DE LA PÁGINA */

#arrow_up{
	display:none; 
	position: fixed;
	bottom:3em;
	right:3em;
	background-color: rgba(255,255,255,.8);
	border-radius: 100%;
	box-shadow: 1px 1px 20px #151515;
	width:3em;
	height:3em;
	z-index: 2;
	cursor: pointer;
}

/* SEGUNDA SECCIÓN -> TIENDAS */

section{
	display: flex;
	justify-content: space-around;
	padding:10vh 0;
	align-items: center;
	flex-direction: column;
}
#tiendas{
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	grid-column-gap: 6.25%;
	grid-row-gap: 7.5vh;
	padding: 6% 5%;
}
.tienda{
	width:100%;
	height:20vh;
	box-shadow: 1px 1px 7px gray;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding:0 3%;
	border-radius: .3em;
	cursor:pointer;
	position: relative;
}
.tienda:hover{
	box-shadow: 1px 1px 40px #151515;
}
.tienda:nth-child(n+9){
	display: none; 
}
.tienda img{
	width:100%;
	height: 100%;
}

button, #filtro a{
	width:max-content;
	text-decoration: none;
	user-select: none;
	margin-top: 10vh;
	padding: .75em 1em;
	text-transform: uppercase;
	font-size:1.2em;
	font-weight: bold;
	letter-spacing: .1em;
	cursor: pointer;
	border: none;
	background-color: transparent;
	color:#7d7d7d;
}
button:hover, #filtro a:hover{
	color: black;
}

/* TERCERA SECCIÓN -> DATOS DE CONTACTO */

#contacto{
	display: flex;
	flex-direction: column;
}
#contact-icons{
	display: flex;
	flex-direction: row;
}
#contact-icons > div{
	margin: 0 2em;
	display: flex;
	flex-direction: column;
}
.contact-div{
	display: flex;
	justify-content: center;
	position: relative;
}
.contact-icon{
	user-select: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	font-size: 1.2em;
	text-align: center;
}
.contact-icon img{
	height:1.2em;
	margin-right: 0.2em;
}
.horario-title{
	font-weight: bold;
}
.contact-data{
	display: none;
	position:absolute;
	padding: .5em 2em;
	width:max-content;
	background-color: white;
	box-shadow: 1px 1px 7px gray;
	z-index:5;
	top: calc(100% + .5em);
	left: calc(-25% - 1.5em);
	border-radius: .7em;
}
.contact-data > li{
	list-style: none;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: .5em 0;
}
#mapa{
	width:100%;
	height:50vh;
	margin-top: 2em;
}

#contact-form{
	display: flex;
	flex-direction: column;
	width:max-content;
	margin: 0 auto;
	text-align: center;
	margin: 5vh 0;
	background-color: white;
	box-shadow: 1px 1px 7px gray;
	padding:2%;
	border-radius: 10px;
}
#contact-form > *{
	margin: 2% 0;
}
#contact-form > h5{
	margin-bottom: 4%;
	font-family: indie;
	font-size: 18px;
}


/* FOOTER */
footer{
	font-family: indie;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

/* ----------------------------- RESPONSIVE STYLES ------------------------*/
/* TABLET */
@media (max-width: 1000px){
	nav{
		justify-content: center;
	}
	nav ul{
		width:100%;
		justify-content: space-around;
		border-radius: 0;
		background-color: rgba(255,255,255,.9)!important;
	}
	#info{
		padding: 0 5vw;
	}
	#tiendas{
		grid-template-columns: 28% 28% 28%;
	}
	#arrow_down{
		top: 82vh;
		height:5em;
	}
}
/* MÓVIL */
@media (max-width: 700px){
	body{
		font-size: 11px;
	}
	#menuToggle{
		display: block;
		margin-top: 2em;
		height: 3em;
		cursor: pointer;
		z-index: 7;
		background-color: rgba(255,255,255,.5);
		box-shadow: 1px 1px 10px gray;
		border-radius: 100%;
		padding: .5em;
	}
	nav ul{
		display: none;
		position: fixed;
		top:0;
		left:0;
		padding-top: 4em;
		height: 100%;
		width:100vw;
	}
	nav a{
		font-size: 2em;
		text-align: center!important;
	}
	#tiendas{
		grid-template-columns: 90%;
	}
	#arrow_down{
		top: 77vh;
		height:10em;
	}
	#arrow_up{
		height: 4em;
		width: 4em;
		right: calc(50% - 2em);
	}
}