#blob1, #blob2, #blob3, #blob4{
	display: none!important;
}
body{
	width: 100%;
	padding: 0 10%;
	background-image: url(../img/blob-shape.svg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -30vw -40vh;
}
.container table{
	background-color: transparent;
	width: 80%;
	margin-top: 5%;
	border: 1px solid #151515;
}
.container table td{
	border: solid #151515;
	border-width: 0 .5px .5px 0;
	padding:.5em 0;
}
#lineaTit td{
	background-color: #151515;
	color: white;
	font-weight: bold;
	text-align: center;
}

#filtro{
	display: flex;
	width:80%;
	justify-content: space-around;
	align-items: center;
	height: 20vh;
}
#filtro input{
	flex:50%;
}
#filtro button{
	margin:0;
}
